{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h3>
        {{ product.name }}
    </h3>
    <p>
        {{ product.description }}
    </p>

    {% if product.productimage_set.all %}
        {% for image in product.productimage_set.all %}
            <div>
                <img src="{{ image.image.url }}" alt="{{ product.name }}">
            </div>
        {% endfor %}
    {% endif %}

    {% if not is_in_cart %}
        <div>
            <a href="{% url 'cart:add' product.slug %}">Add To Cart</a>
        </div>
    {% else %}
        <div>
            <a href='{% url 'cart:cart' %}'>In Cart</a>
        </div>
    {% endif %}
{% endblock %}