<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h3>
    {{ category.name }}
</h3>
<p>
    {{ category.description}}
</p>
<table>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Описание
        </th>
        {% for product in category.product_set.all %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
            </tr>
        {% endfor %}
    </tr>
</table>
</body>
</html>