<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<label for="email">email:</label>
<input id="email" type="email" name="email">

<br>
<label for="password">password:</label>
<input id="password" type="password" name="password">

<br>
<label for="repeat_password">repeat password:</label>
<input id="repeat_password" type="email" name="repeat_password">

<br>
<label for="date_of_birth">date of birth:</label>
<input id="date_of_birth" type="email" name="date_of_birth">

<br>
<label for="photo">photo:</label>
<input id="photo" type="file" name="photo">

<br>
<label for="description">description:</label>
<textarea id="description" name="description"></textarea>

<br>
<button type="submit">Registration</button>
</body>
</html>